# Arquivos de ambiente
.env
*.env

# O próprio ambiente virtual
.chatbot_ai/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache do Streamlit
.streamlit/

# Arquivos temporários
*.log

# VSCode
.vscode/
